<!DOCTYPE html>

<html>

    <head>
        <title>Películas con <%= personName %></title>
        <link rel="stylesheet" href="/styles.css">
    </head>

    <body>

        <h1>Películas con <%= personName %></h1>
            <ul>
                <% const isActor = movies.sort((a, b) => new Date(b.release_date) - new Date(a.release_date)).forEach((movie) => { %>
                    <li><a href="/pelicula/<%= movie.movie_id %>"><%= movie.title %> (<%= new Date(movie.release_date).getFullYear() %>)</a></li>
                <% }); %>
                <% if (isActor.length === 0) { %>
                    <p>Esta persona no actúa en ninguna película.</p>
                <% } %>
            </ul>

    <h1>Películas dirigidas por <%= personName %></h1>
        <ul>
            <% const isDirector = movies.sort((a, b) => new Date(b.release_date) - new Date(a.release_date)).forEach((movie) => { %>
                <li><a href="/pelicula/<%= movie.movie_id %>"><%= movie.title %> (<%= new Date(movie.release_date).getFullYear() %>)</a></li>
            <% }); %>
            <% if (isDirector) { %>
                <p>Esta persona no dirigió ninguna película.</p>
            <% } %>
        </ul>

    <div id="inicio"><a href="/">Inicio</a></div>

    </body>
</html>