<!DOCTYPE html>
<html>
<head>
    <title>Resultado de la Búsqueda</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h1>Resultado de la Búsqueda</h1>
<h2>Peliculas</h2>
<% if (movies.length === 0) { %>
    <p>El que lo lee se la come</p>
<% } else { %>
    <ul>
        <% movies.forEach((movie) => { %>
            <li><a href="/pelicula/<%= movie.movie_id %>"><%= movie.title %></a></li>
        <% }); %>
    </ul>
<% } %>
<h2>Actores</h2>
<% if (actors.length === 0) { %>
    <p>El papu troll :v.</p>
<% } else { %>
    <ul>
        <% actors.forEach(actor => { %>
            <li><a href="/actor/<%= actor.id %>"><%= actor.person_name %></a></li>
        <% }); %>
    </ul>
<% } %>
<h2>Directores</h2>
<% if (directors.length === 0) { %>
    <p>Chat sacaron clip?</p>
<% } else { %>
    <ul>
        <% directors.forEach((director) => { %>
            <li><a href="/director/<%= director.id %>"><%= director.person_name %></a></li>
        <% }); %>
    </ul>

<% } %>
<p></p>
<div id="inicio"><a href="/">Inicio</a></div>
</body>
</html>
